@{
    ViewData["Title"] = "Test work";
}
<div class="tw_sidebar">
    <a class="tw_homelink" href="#">Home</a>
</div>
<div class=" row ml-5 m-0 p-2">
    <div>
        <label>ID</label>
        <input class="tw_input" type="text" id="Id" placeholder="Id" value="" />
        <label>DateRegistration</label>
        <input class="tw_input" type="date" id="dateRegistration" value="" />
        <label>DateLastActivity</label>
        <input class="tw_input" type="date" id="datelastActivity" value="" />
        <button class="tw_button" onclick="addUserToTable()" name="search">Add</button>
    <div>
        <table id="dataTable" class="table mt-3">
            <tr><th>ID</th><th>DateRegistration</th><th>DateLastActivity</th></tr>
        </table>
    </div>
    <button class="tw_button" name="search">Save</button>
    </div>
    <div class="mt-1 ml-5">
        <div>
            <label>Rolling Retention</label>
            <input id="daycount" class="tw_daycount" type="text" value="" />
            <label>day</label>
            <button onclick="calculate()" class="tw_button">Calculate</button>
            <label id="result"></label>
        </div>
        <canvas id="myChart" width="300" height="300"></canvas>
    </div>
</div>
